/* Contacts */
.contacts {
    margin-bottom: 50px;
}

.contacts_type {
    color: white;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 24px;
    margin-right: 5px;
}

.contact_link {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    color: #cbcbcb;
}