/* Sidebar */
.sidebar {
    background-color: #1e2939;
    padding-top: 40px;
    padding-bottom: 40px;
    width: 370px;

    @media screen and (max-width: $mobile-max) {
        margin-left: auto;
        margin-right: auto;
        width: auto;
    }
}

.sidebar_title {
    color: white;
    font-style: normal;
    font-weight: bold;
    font-size: 22px;
    line-height: 27px;
    margin-bottom: 10px;
}

.sidebar_img {
    @media screen and (max-width: $mobile-max) {
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
}

.contacts,
.tech_skills,
.soft_skills {
    margin-right: 20px;
    margin-left: 40px;
}