/* Soft skills */
.soft_skills_list {
    padding: 0;
    margin-left: 16px;
}

.soft_skills_item {
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 24px;
    color: #fb6d3a;
}

.soft_skills_text {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    color: #ffffff;
}